theme "kanagawa"

default_mode "normal"

copy_command "wl-copy"

show_startup_tips false
show_release_notes false

keybinds clear-defaults=true {
    normal {
        bind "Alt x" { SwitchToMode "tmux"; }

        bind "Ctrl k" { MoveFocus "up"; }
        bind "Ctrl h" { MoveFocus "left"; }
        bind "Ctrl j" { MoveFocus "down"; }
        bind "Ctrl l" { MoveFocus "right"; }
    }
    tmux {
        bind "Alt x" { SwitchToMode "normal"; }

        bind "-" { NewPane "down"; SwitchToMode "normal"; }
        bind "|" { NewPane "right"; SwitchToMode "normal"; }

        bind "k" { MoveFocus "up"; }
        bind "h" { MoveFocus "left"; }
        bind "j" { MoveFocus "down"; }
        bind "l" { MoveFocus "right"; }

        bind "Alt h" { GoToPreviousTab; }
        bind "Alt l" { GoToNextTab; }

        bind "enter" { SwitchToMode "normal"; }
        bind "esc" { SwitchToMode "normal"; }

        bind "space" { NextSwapLayout; }

        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }

        bind "r" { SwitchToMode "renametab"; }
        bind "c" { NewTab; SwitchToMode "normal"; }

        bind "q" { Quit; }
    }

    shared_among "normal" "tmux" {
        bind "Ctrl d" { Detach; }
    }

    entersearch {
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }

    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tmux"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "tmux"; }
    }

    shared_among "renametab" "renamepane" {
        bind "enter" { SwitchToMode "normal"; }
    }
}
